@page
@model Knights_of_Columbus_Website.Pages.StateFamily.DDsModel
@{
	Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">





    <title>Knights of Columbus-Washington</title>
</head>
<body>
	<h3>State Officers 2022 - 2023</h3>


	<table>
		<tr>
			<td>
				<img src="~/StaticFiles/rootfile/StateChaplain.png">
				Fr Kenneth St Hilaire
			</td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>






	<script src="../script.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->
	<!-- Option 1: Bootstrap Bundle with Popper -->
	
</body>
</html>