@page
@model Knights_of_Columbus_Website.Pages.Membership_Pages.MembershipAwardsModel
@{
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">


 



    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="~/StaticFiles/rootfile/CouncilBlue.png" class="card-img-top" alt="Membership" style="float:left;width: 200px;border-width: 0px">


    <h3>Council Programs 2022 - 2023</h3>


    <p>Chairman message coming soon...</p>

    <footer>
        <p>
            Brought to you by Saint Martin's University and the awesome team of Sunya Chay, Brandon Essary, and William Flores<br>
            <a href="mailto:teamawesome@example.com">teamawesome@example.com</a>
        </p>
    </footer>


    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
</body>
</html>