@page
@model Knights_of_Columbus_Website.Pages.Membership_Pages.MembershipRetentionModel
@{
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">






    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="~/StaticFiles/rootfile/membership.jpg" class="card-img-top" alt="Membership" style="float:left;width: 200px;border-width: 0px">


    <h3>Online Membership and Retention 2022 - 2023</h3>


    <p>>Chairman message coming soon...</p>



    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
</body>
</html>