@page
@model Knights_of_Columbus_Website.Pages.Membership_Pages.MembershipSilverKnightAwardsModel
@{
    Layout = "_Layout";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../style.css">




    <title>Knights of Columbus-Washington</title>
</head>
<body>
    <img src="../rootfile/Pin.gif" class="card-img-top" alt="Membership" style="float:left;width: 200px;border-width: 0px">


    <h3>SILVER KNIGHT AWARDEE</h3>


    <p>
        July 2019<br>

        1.  Irwin De Vera,  Mill Creek Council 9434<br>

        August 2019<br>

        1.  Diome Alcomendes, Council 12899, Vancouver
    </p>


    <p>
        SHINING ARMOR AWARDEE<br>

        July 2019<br>

        1.  Irwin De Vera, Mill Creek Council 9434
    </p>


    <p>
        Helpful Links:<br>
        <a href="~/StaticFiles/pdf/pdf/Silver Knight Application Card WA3.pdf">PDF of card blanks</a>
    </p>


    


    <script src="../script.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
</body>
</html>